@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.eot');
  src: local(''),
    url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.eot');
  src: local(''),
    url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.eot');
  src: local(''),
    url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: local(''),
    url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Mulish-Light.eot');
  src: local(''),
    url('../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish-Light.woff2') format('woff2'),
    url('../fonts/Mulish-Light.woff') format('woff'),
    url('../fonts/Mulish-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Mulish-Regular.eot');
  src: local(''),
    url('../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish-Regular.woff2') format('woff2'),
    url('../fonts/Mulish-Regular.woff') format('woff'),
    url('../fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Mulish-SemiBold.eot');
  src: local(''),
    url('../fonts/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
    url('../fonts/Mulish-SemiBold.woff') format('woff'),
    url('../fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Mulish-Bold.eot');
  src: local(''),
    url('../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish-Bold.woff2') format('woff2'),
    url('../fonts/Mulish-Bold.woff') format('woff'),
    url('../fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.eot');
  src: local(''),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Urbanist-SemiBoldItalic.eot');
  src: local(''),
    url('../fonts/Urbanist-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Urbanist-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Urbanist-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Urbanist-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Urbanist-Bold.eot');
  src: local(''),
    url('../fonts/Urbanist-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Urbanist-Bold.woff2') format('woff2'),
    url('../fonts/Urbanist-Bold.woff') format('woff'),
    url('../fonts/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Urbanist-ExtraBold.eot');
  src: local(''),
    url('../fonts/Urbanist-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Urbanist-ExtraBold.woff2') format('woff2'),
    url('../fonts/Urbanist-ExtraBold.woff') format('woff'),
    url('../fonts/Urbanist-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Urbanist-Black.eot');
  src: local(''),
    url('../fonts/Urbanist-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Urbanist-Black.woff2') format('woff2'),
    url('../fonts/Urbanist-Black.woff') format('woff'),
    url('../fonts/Urbanist-Black.ttf') format('truetype');
}