html {
  box-sizing: border-box;
}

* {
  transition: .3s ease;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: $primary-color;
}

.container {
  width: 100%;
  max-width: 1145px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font: {
    family: $secondary-font;
    style: normal;
    weight: 700;
    size: 35px;
  }

  line-height: 45.12px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 50px;
}

.subtitle {
  font: {
    family: $primary-font;
    style: normal;
    weight: 600;
    size: 20px;
  }

  line-height: 24.8px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #DB5B46;
  margin-bottom: 10px;
}

button,
.more-link {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: $primary-color;
  box-shadow: 3px 5px 15px rgba(76, 102, 240, 0.2);
}

.more-link {
  font: {
    family: $primary-font;
    style: normal;
    weight: 600;
    size: 20px;
  }

  line-height: 30.7px;
  letter-spacing: 0.045em;
  height: 61px;
  display: inline-block;
}

.btn-fill,
.more-link {
  padding: 15px 35px;
  background: rgba(27, 75, 249, 0.9);

  &:hover {
    background: rgba(24, 68, 225, 0.9);
  }

  &:active {
    background: rgba(20, 61, 209, 0.9);
  }
}

.btn-trans {
  padding: 15px 35px;
  background: rgba(27, 75, 249, 0.15);
  border: 1px solid #1B4BF9;

  &:hover {
    background: rgba(27, 75, 249, 0.2);
  }

  &:active {
    background: rgba(27, 75, 249, 0.27);
  }
}