$primary-font: "Mulish", sans-serif;
$secondary-font: "Urbanist", sans-serif;
$third-font: "Montserrat", sans-serif;

$primary-color: #FFFFFF;
$secondary-color: rgba(27, 75, 249, 0.9);
$third-color: #DB5B46;