@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 25px;
  }

  &__interf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 67px;
  }

  &__menu {

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      font: {
        family: $primary-font;
        style: normal;
        weight: 700;
        size: 16px;
      }

      line-height: 20px;
      letter-spacing: 0.02em;
      position: relative;

      & a {
        color: $primary-color;
      }

      &+& {
        margin-left: 23px;
      }

      &:hover {
        & a {
          color: $third-color;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -45px;
            width: 100%;
            border-bottom: 2px solid #DB5B46;
          }
        }
      }

      &--active {
        & a {
          color: $third-color;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -45px;
            width: 100%;
            border-bottom: 2px solid #DB5B46;
          }
        }
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__contact {
    position: relative;

    &-btn {
      font: {
        family: $primary-font;
        style: normal;
        weight: 700;
        size: 16px;
      }

      line-height: 20.88px;
      letter-spacing: 0.03em;
      padding: 15px 22.5px 14px;
      flex-direction: row;
      display: none;

      & P {
        margin-left: 6px;
      }

      &--active {
        display: flex;
      }
    }


    &-block {
      position: absolute;
      top: -27px;
      right: 0;
      padding: 24px;
      border-radius: 5px;
      border: 1px solid #1B4BF9;
      display: none;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: blur(6px);
        background: rgba(27, 75, 249, 0.25);
      }

      &--active {
        display: inline-block;
      }

      .close-btn {
        position: absolute;
        cursor: pointer;
        right: 24px;
        background-color: transparent;
        border: none;
      }

      .header-phone {
        font: {
          family: $primary-font;
          style: normal;
          weight: 700;
          size: 16px;
        }

        line-height: 20.88px;
        letter-spacing: 0.03em;
        margin-left: 6px;
      }

      .header-map {
        margin-left: 15px;
      }
    }

    &-list {
      margin-top: 31px !important;

      & li {
        font: {
          family: $primary-font;
          style: normal;
          weight: 400;
          size: 16px;
        }

        line-height: 20px;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        white-space: nowrap;

        &+li {
          margin-top: 20px;
        }

        & a {
          color: $primary-color;
          margin-left: 10px;
        }
      }
    }
  }

  &__lang {

    &-btn {
      width: 50px;
      height: 50px;
      padding: 15px;
      margin-left: 10px;
      display: none;

      &--active {
        display: block;
      }
    }

    &-block {
      display: none;
      margin-left: 10px;
      border-radius: 3px;

      &--active {
        display: block;
      }
    }

    &-list {
      display: flex;
      padding: 14px 15px 15px;
    }

    &-item {
      font: {
        family: $primary-font;
        style: normal;
        weight: 700;
        size: 16px;
      }

      line-height: 20.88px;
      letter-spacing: 0.03em;

      &+& {
        position: relative;
        margin-left: 16px;

        &::before {
          content: '/';
          position: absolute;
          left: -11px;
        }
      }
    }

    &-link {
      color: $primary-color;

      &--active {
        color: #DB5B46;
      }
    }
  }
}

.top__slider {
  min-height: 100vh;
  position: relative;

  &-one,
  &-two,
  &-three {
    background-image: url(../images/slider-one.jpg);
  }

  &-two {
    background-image: url(../images/slider-two.jpg);
  }

  &-three {
    background-image: url(../images/slider-three.jpg);
  }

  &-inner {
    position: absolute;
    z-index: 11;
    top: 25%;
  }

  &-title {
    font: {
      family: $secondary-font;
      style: normal;
      weight: 800;
      size: 65px;
    }

    line-height: 74.1px;
    letter-spacing: -0.01em;
    max-width: 858px;
    width: 100%;
    margin-bottom: 30px;

    & span {
      font: {
        family: $secondary-font;
        style: italic;
        weight: 600;
        size: 65px;
      }

      line-height: 74.1px;
      letter-spacing: -0.01em;
    }
  }

  &-text {
    font: {
      family: $primary-font;
      style: normal;
      weight: 400;
      size: 18px;
    }

    line-height: 28.62px;
    letter-spacing: 0.02em;
    max-width: 490px;
    width: 100%;
    margin-bottom: 30px;
  }

  &-btn-group {
    display: flex;
  }

  &-btn+&-btn {
    margin-left: 25px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.swiper-slide {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(103.14deg, rgba(0, 0, 0, 0.72) 40.7%, rgba(0, 0, 0, 0) 94.13%);
  }
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  text-align: left;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
  left: auto;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  width: 12px;
  height: 12px;
  position: relative;
  opacity: 1;

  &+& {
    margin-left: 28px !important;

    &::before {
      content: '';
      position: absolute;
      left: -19px;
      top: 50%;
      width: 10px;
      height: 1px;
      background-color: $primary-color !important;
    }
  }
}

.about {
  color: #000;

  &__inner {
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 539px;
    width: 100%;
  }

  &__text {
    font: {
      family: $primary-font;
      style: normal;
      weight: 400;
      size: 18px;
    }

    line-height: 28.62px;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
  }
}

.services {
  color: #000;

  &__inner {
    padding: 130px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    &-filter {
      display: flex;
      margin-bottom: 40px;


    }

    &-title {
      font: {
        family: $secondary-font;
        style: normal;
        weight: 700;
        size: 22px;
      }

      line-height: 28.36px;
      letter-spacing: -0.01em;
      color: #000;
      cursor: pointer;

      &+& {
        margin-left: 74px;
      }

      &:hover {
        color: #DB5B46;
        border-bottom: 2px solid $third-color;
      }
    }

    &-list {
      max-width: 540px;
      width: 100%;
      margin-bottom: 35px !important;
    }

    &-item {
      font: {
        family: $primary-font;
        style: normal;
        weight: 400;
        size: 18px;
      }

      line-height: 28.62px;
      letter-spacing: 0.02em;

      &+& {
        margin-top: 20px;
      }
    }
  }
}

.services__info-title--active {
  font-weight: 800;
  color: #000000;
  border-bottom: 2px solid $third-color;

  & span {
    color: $third-color;
  }
}

.hide {
  display: none;
}

@import 'media';